.main-container {
  height: 100vh;
  background-color: #e3f2fd;
}

.input-div {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
}

.main-notes {
  display: flex;
  flex-wrap: wrap;
  background-color: #e3f2fd;
}

.child-main-notes {
  width: 23vw;
  height: 25vh;
  /* border: 1px solid red; */
  margin: 2rem 1rem 0 1rem;
  background-color: white;
  border-radius: 0 1rem 1rem 1rem;
  overflow-y: hidden;
  overflow-x: auto;
  flex-grow: 0.3;
  cursor: pointer;
  transition-duration: 0.43s;
  overflow-y: auto;
}
.last_note_margin_bottom {
  margin-bottom: 2rem;
}
.child-main-notes:hover {
  width: 27vw;
  height: 26vh;
}
@media screen and (max-width: 400px) {
  .child-main-notes {
    flex-grow: 1;
    width: 42vw;
  }
  .child-main-notes:hover {
    width: 45vw;
    height: 28vh;
  }
}
@media screen and (max-width: 1000px) {
  .child-main-notes {
    flex-grow: 1;
    width: 42vw;
  }
  .child-main-notes:hover {
    width: 45vw;
    height: 28vh;
  }
}
.childStyle {
  height: 81vh;
  width: 69%;
  margin: auto;
  z-index: 1;
  filter: none;
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 13%;
  /* right: 25%; */
  border-top-left-radius: 1rem;
  /* transition: all 0.31s ease-in; */
}

.childStyle:hover {
  height: 81vh;
  width: 69%;
}
@media screen and (max-width: 400px) {
  .childStyle {
    width: 75%;
    height: 70vh;
  }
  .childStyle:hover {
    height: 70vh;
    width: 75%;
  }
}

.displayNone {
  display: none;
}
.child-main-notes h2 {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding-left: 0.2rem;
}
.edit_input_div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.edit_title_input {
  height: 5vh;
  padding-left: 9px;
  padding-right: 9px;
  margin-left: 9px;
  margin-right: 9px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  margin-bottom: 1rem;
  border-color: #2196f3;
}
.edit_takeNote_input {
  resize: none;
  height: 60vh;
  /* border: 2px; */
  padding-left: 9px;
  padding-right: 9px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 9px;
  margin-right: 9px;
  /* margin-bottom: 0.2rem; */
  outline: none;
  border-color: #2196f3;
  /* border-color: red; */
}
@media screen and (max-width: 400px) {
  .edit_takeNote_input {
    height: 52vh;
  }
}
.updateBtn {
  background-color: #2196f3;
  color: white;
  font-size: 1.4rem;
  border: none;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 400px) {
  .updateBtn {
    margin-bottom: 0.2rem;
  }
}
.delete-btn {
  color: white;
}
.delete-btn:hover {
  /* border-radius: 1rem; */
  /* background-color: white; */
  color: red;
}
.edit-btn {
  color: white;
}
.edit-btn:hover {
  color: #40fca5;
}
.child-main-notes p {
  padding-left: 0.375rem;
  overflow-y: hidden;
  font-size: 0.8rem;
}
.child-btn {
  display: flex;
  justify-content: flex-end;
}
.child-main-notes-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  /* position: fixed;
  left: 10rem;
  top: 20rem; */
  background-color: red;
  color: white;
  font-size: 2rem;
}
